.canvas-digit {
  width: 300px;
  height: 300px;
  margin-left: 150px;
}

.canvas-hand {
  width: 300px;
  margin: 16px 0;
}

.webcam-source {
  display: none;
}

.content-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner-label {
  text-align: center;
  font-size: 22px;
  margin-top: 64px;
}

.webcam-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.latent-content {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.params-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}