<video class="videobox canvasbox" autoplay="autoplay" #webcam class="webcam-source"></video>

<div class="content-wrapper">
  <button mat-fab aria-label="Toggle webcam" (click)="toggleVideo()">
    <mat-icon>{{isVideo ? 'stop': 'photo_camera'}}</mat-icon>
  </button>
  <canvas #canvasDigit class="canvas-digit"></canvas>
  <canvas #canvasHand class="canvas-hand"></canvas>
  <mat-slider *ngFor="let slider of sliders" [min]="slider.min" [max]="slider.max" step="0.01"
    (input)="slideSlider(slider, $event)" [value]="slider.value" [thumbLabel]="true">
  </mat-slider>
</div>